USE [master]
GO
/****** Object:  Database [CompetitionDW]    Script Date: 08/11/2022 5:44:06 PM ******/
CREATE DATABASE [CompetitionDW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CompetitionDW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.IC\MSSQL\DATA\CompetitionDW.mdf' , SIZE = 33431552KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CompetitionDW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.IC\MSSQL\DATA\CompetitionDW_log.ldf' , SIZE = 311455040KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CompetitionDW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CompetitionDW]
GO
/****** Object:  Table [dbo].[DimDate]    Script Date: 08/11/2022 5:44:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDate](
	[DateKey] [int] NOT NULL,
	[FullDate] [date] NULL,
	[DateName] [nchar](11) NOT NULL,
	[DayOfWeek] [tinyint] NOT NULL,
	[DayNameOfWeek] [nchar](10) NOT NULL,
	[DayOfMonth] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo.DimDate] PRIMARY KEY CLUSTERED 
(
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimSchool]    Script Date: 08/11/2022 5:44:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimSchool](
	[DimSchoolKey] [int] IDENTITY(1,1) NOT NULL,
	[SchoolId] [int] NOT NULL,
	[School_Code] [varchar](255) NULL,
	[Age_ID] [int] NULL,
	[School_Name] [varchar](255) NULL,
	[Student_Number] [int] NULL,
	[Level_Of_Schooling] [varchar](255) NULL,
	[School_Gender] [varchar](50) NULL,
	[Phone] [varchar](100) NULL,
	[School_Email] [varchar](100) NULL,
	[Fax] [varchar](100) NULL,
	[SuburbId] [int] NULL,
 CONSTRAINT [PK_DimSchool] PRIMARY KEY CLUSTERED 
(
	[DimSchoolKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimSuburb]    Script Date: 08/11/2022 5:44:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimSuburb](
	[DimSuburbKey] [int] IDENTITY(1,1) NOT NULL,
	[SuburbId] [int] NOT NULL,
	[Suburb] [varchar](255) NULL,
	[PostCode] [int] NULL,
	[City] [varchar](255) NULL,
	[State] [varchar](255) NULL,
	[StateCode] [varchar](255) NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
 CONSTRAINT [PK_DimSuburb] PRIMARY KEY CLUSTERED 
(
	[DimSuburbKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactProperty]    Script Date: 08/11/2022 5:44:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactProperty](
	[FactPropertyKey] [int] IDENTITY(1,1) NOT NULL,
	[PropertyId] [int] NOT NULL,
	[DimSuburbKey] [int] NOT NULL,
	[DimSchoolKey] [int] NOT NULL,
	[DateKey] [int] NOT NULL,
	[Property_Median_Value] [money] NULL,
 CONSTRAINT [PK_FactProperty] PRIMARY KEY CLUSTERED 
(
	[FactPropertyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
